extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina}

        form.agregar-proyecto(action="/nuevo-proyecto" method="POST")
            .campo 
                label(for="nombre") Nombre del proyecto
                input(type="text", name="nombre", id="nombre", placeholder="Nombre del proyecto")
            .campo.enviar 
                input(type="submit", value="Agregar" class="boton")